* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #2DA6A6;
}

main {
    margin-left: 12%;
    width: 88%;
}

header img {
    box-shadow: 0 5px rgba(0, 0, 0, 0.5);
    display: block;
    height: auto;
    width: 100%;
}

footer {
    background-color: #F2CE1B;
    clear: both;
    padding: 5px;
}

nav {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    float: left;
    height: 150px;
    justify-content: center;
    margin-top: 10px;
    position: fixed;
    width: 12%;
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
    padding-top: 20px;
}

.nav__list-item {
    display: inline-block;
    text-align: center;
}

.nav__list-item-link {
    text-decoration: none;
}

.buttonClass {
    background: linear-gradient(rgba(45, 166, 166, 1), rgba(23, 98, 115, 1));
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: rgba(45, 166, 166, 1);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-width: 1px;
    box-shadow: inset 0px 1px 0px 0px rgba(45, 166, 166, 1);
    color: rgba(255, 255, 255, 1);
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: 50px;
    padding: 5px 10px;
    width: 140px;
}

.buttonClass:hover {
    background: linear-gradient(rgba(23, 98, 115, 1), rgba(45, 166, 166, 1));
}

h1,
h2,
h3 {
    color: #176273;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

h2 {
    color: rgba(23, 98, 115, 1);
    font-size: 15px;
    font-style: italic;
    padding: 10px;
    text-decoration: underline;
    text-shadow: none;
}

section {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px;
}

.section__title-background {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-top: 10px;
    min-width: 170px;
    padding: 0;
    text-align: center;
    width: 25%;
}

p {
    color: #176273;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 12px;
    text-align: center;
    text-shadow: none;
    text-wrap: wrap;
}

hr {
    border: 1px solid rgba(23, 98, 115, 0.5);
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 35%; 
}

.imagesection__grid {
    align-items: center;
    display: flex;
    flex-direction: column;

    gap: 10px
}

.imagesection__grid-item {
    border-radius: 3px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    height: auto;
    width: 100%;
}

.linksection__link-container {
    display: flex;
    flex-direction: column;
}

.linksection__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #176273;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}