* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #2DA6A6;
}

main {
    margin-left: 20%;
    width: 80%;
}

header img {
    display: block;
    height: auto;
    width: 100%;
}

footer {
    background-color: #F2CE1B;
    clear: both;
}

nav {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 20%;
    height: 170px;
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style-type: none;
    padding-top: 25px;
}

.nav__list-item {
    display: inline-block;
    text-align: center;
}

.nav__list-item-link {
    text-decoration: none;
    
}

.buttonClass {
    background: linear-gradient(#2DA6A6, #176273);background: linear-gradient(#F2CE1B, #D9AA1E);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-color: #2DA6A6;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-width: 1px;
    box-shadow: 0px 1px 0px 0px #fff6af;
    color: #333333;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    height: 50px;
    padding: 10px;
    text-shadow: 0px 1px 0px #ffee66;
    width: 140px;
}

.buttonClass:hover {
    
    color: white;
}

h1,
h3 {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: normal;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

h2 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 15px;
    text-align: center;
}

#about {}

#images {}

#links {}

section {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px;
}

