* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

header {
    background-image: url("./images/hd2_banner.webp");
    height: 480px;
    width: 100%;
    background-repeat: no-repeat;
}
.header__nav-list {
    list-style-type: none;
}

.header__nav-list-item {
    display: inline-block;
    
}

.header__nav-list-link {
    text-decoration: none;
}

body {}

main {}


#about {}

#images {}

#links {}